<style>
  body{
    background-color: black;
    background-image: url('https://media.giphy.com/media/10X5oVBTgURLtC/giphy.gif');
    background-image: url('https://media.giphy.com/media/TxVVB6PfWMjE4/giphy.gif');
    background-image: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);

  }
</style>
<div class="row mt-5">
  <div class="col-md-6 m-auto">
    <div class="card card-body text-center">
      <h1>
        <!-- <i class="fab fa-node-js fa-3x"></i> -->
        <i class="fas fa-sign-in-alt"></i>
      </h1> 
      <p>Create an account or login</p>
      <a href="/users/register" class="btn btn-primary btn-block mb-2"
        >Register</a
      >
      <a href="/users/login" class="btn btn-secondary btn-block">Login</a>
    </div>
  </div>
</div>
